IO_LOC  "I_clk"   V22;
IO_PORT "I_clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
//IO_LOC  "rst_n" AA13;
//IO_PORT "rst_n" PULL_MODE=UP DRIVE=OFF;

IO_LOC  "pa_en" Y14;
IO_PORT "pa_en" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "bclk"  Y17;
IO_PORT "bclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "lrclk" AB17;
IO_PORT "lrclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "sout"  AA16;
IO_PORT "sout" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "cs" W15;
IO_PORT "cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "sclk" V15;
IO_PORT "sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "mosi" Y16;
IO_PORT "mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "miso" AA15;
IO_PORT "miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
